.DS_Store
*.db
*.log
*.pyc
*.pyo
*.orig
.vagrant/*
*.box
**/node_modules/*
.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_set_name

.vagrant/machines/default/virtualbox/id

ncog/db.sqlite3

.vagrant/machines/default/virtualbox/id

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_set_name

.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_set_name

.vagrant/machines/default/virtualbox/id

ncog/db.sqlite3

ncog/pip-log.txt
