<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		 <script type="text/javascript"> 
		 	$(function(){
		 		
		 	});
		 	
		 	function getFriends() {
		 		$.getJSON("{% url 'friends'%}", function(data) {
					alert(JSON.stringify(data));
		        }); 
		 	}
		 </script>
	</head>
	<body>
		<br/><br/>
		{% for thread in inbox.data %}
			{% for comment in thread.comments.data %}
				{{comment.from.name}}:&nbsp;{{comment.message}}
				<div style="font-size:12px;">{{comment.created_time}}</div>
				<br/>
			{% endfor %}
			<br/>
			<br/>
			<br/>
		{% endfor %}
	</body>
</html>