<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nCog - relationship analytics</title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "js/app.js" %}"></script>
  </head>
  <body>
    <header class="top">
      <h2>nCog <span class="right">Hi {{user}} <a href="">Log out</a></span></h2>
      <div class="clear"></div>
      <hr>
    </header>
    <div class="current">
      <div>
        <Br /><Br />
        <form id="signUp" class="center">
          <h2 class="lightText"> Who are you and <strong>who's</strong> into you?</h2>
         
          <br />
          I am a 
          <select class="large" name="orientation">

          	<option {% if gender == 'm' %} selected {% endif %}>Dude</option>
          	
            <option {% if gender == 'f' %} selected {% endif %}>Lady</option>
           
            <option>Other</option>
            
          </select>
          looking for a: &nbsp;
          <select class="large" name="gender">
          	<option {% if gender == 'm' %} selected {% endif %}>Lady</option>
          
          	<option {% if gender == 'f' %} selected {% endif %}>Dude</option>
          	
           <option>Other</option>
            
          </select>
         
          <a class="submit button" href="#">Zoom!</a>
          <br /><br />
        </form>
        <p class="center">We look at your relationships<br> so you can make them <span style="color:red">better</span></p>
        <Br /><hr>
        <h5 class="lock">Totally Anonymous. Always. <a href="/terms" class="right">Terms of use</a></h5>     
      </div>
    </div>
    <div>
      <div>
        <h1 class="tinyMargin">Your dating roster</h1>
        <h2 class="lightText">This information is not shared with anyone</h2>
        <br />
        <hr>
        <ul class="friendList">
        </ul>
        <div class="clear"></div>
        <Br /><hr>
        <h5 class="lock">This information is not shared with anyone <a href="/terms" class="right">Terms of use</a></h5>
      </div>
    </div>
    <div>
      <div>
        <a class="back button text" href="#">&larr; Back to friend list</a>
        <br /><br />
        <div id="friendInfo">
          <Br />
          <h1>John Smith</h1>
          <p>Score: 87</p>
        </div>
        <Br /><hr>
        <h5 class="lock">This information is not shared with anyone <a href="/terms" class="right">Terms of use</a></h5>
      </div>
    </div>
  </body>
</html>
<!-- <p> Threads = </p>


{% for thread in threads %}
  <p>{{thread}}<p>

    <div style="font-size:12px;">{{comment.created_time}}</div>
    <br/>
  {% endfor %}





<br/><br/>
{% for thread in inbox.data %}
  {% for comment in thread.comments.data %}
    {{comment.from.name}}:&nbsp;{{comment.message}}
    <div style="font-size:12px;">{{comment.created_time}}</div>
    <br/>
  {% endfor %}
  <br/>
  <br/>
  <br/>
{% endfor %} -->